// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";



$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #e5eaf3,
  secondary: #222,
  danger:     #ce7705,
  light:      rgb(219, 219, 219),
  dark:       #222,
);

  //Top toolbar
  $toolbar-md-background: color($colors, secondary);

  //Bottom
  $tabs-md-background: color($colors, secondary);
  $tabs-md-tabs-color-active: color($colors, light);
  $tabs-md-tabs-color: color($colors, light);
  $tabs-md-tabs-color-active: color($colors, light);

  $list-md-background-color:color($colors, light);
  $outer-content-wp-background-color: color($colors, dark);






@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
